.card {
  background-color: rgb(205, 203, 223);
  display: flex;
  margin: 20px;
  border-radius: 20px;
  flex-direction: column;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 15px 5px #10b8ce;
}

.card__bookmark {
  position: absolute;
  right: 20px;
  top: -5px;
}

.card__question {
  display: flex;
  font-size: 30px;
  margin: 8px;
  color: blue;
}

.card__text {
  font-size: 20px;
  color: rgb(50, 70, 85);
}

.card__button {
  align-self: center;
  font-size: 20px;
  background-color: rgb(39, 145, 145);
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
}

.tag {
  display: inline-block;
  border: 1px solid;
  padding: 1px 10px;
  border-radius: 7px;
  font-size: 20px;
  background-color: rgb(141, 161, 161);
}

.text-area {
  background-color: rgb(179, 186, 190);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  margin-top: -40px;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.tags {
  align-content: center;
  justify-content: center;
  display: inline-block;
  border: solid 2px;
  padding: 3px;
  border-radius: 5px;
  color: #612b68;
}
.submit {
  width: 50%;
  margin: 30px;
}
.add-answer {
  color: rgb(81, 201, 11);
}
.add-question {
  color: brown;
}
