* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(56, 53, 77, 0.082);
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  display: grid;
  grid-template-rows: 60px auto 60px;
  height: 99vh;
}

.header {
  background: rgb(238, 162, 162);
  width: 100%;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 0;
}

.home-page {
  overflow-y: auto;
}

.card {
  background-color: rgb(205, 203, 223);
  display: flex;
  margin: 20px;
  border-radius: 20px;
  flex-direction: column;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 15px 5px #10b8ce;
  
}

.card__bookmark {
  position: absolute;
  right: 20px;
  top: -5px;
}

.card__question {
  display: flex;
  font-size: 30px;
  margin: 8px;
  color: blue;
}

.card__text {
  font-size: 20px;
  color: rgb(50, 70, 85);
}

.card__button {
  align-self: center;
  font-size: 20px;
  background-color: rgb(39, 145, 145);
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
}

.tag {
  display: inline-block;
  border: 1px solid;
  padding: 1px 10px;
  border-radius: 7px;
  font-size: 20px;
  background-color: rgb(141, 161, 161);
}

.navigation {
  background: rgb(218, 92, 92);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.navigation__link {
  display: contents;
}
.navigation__item {
  display: block;
  color: black;
}

.text-area {
  background-color: rgb(179, 186, 190);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  margin-top: -40px;
}
.tags {
  display: flex;
  align-self: center;
  border: 1px solid;
  padding: 1px 10px;
  border-radius: 7px;
  font-size: 20px;
  background-color: rgb(141, 161, 161);
}
.submit {
  width: 50%;
  margin: 30px;
}
.add-answer {
  color: rgb(81, 201, 11);
}
.add-question {
  color: brown;
}
.profile {
  margin: 30px;
}
.yourself {
  border: 1px solid;
  padding: 1px 10px;
  border-radius: 7px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: thistle;
  
}
.skills {
  display: flex;
  margin: 20px;
  font-size: 25px;
}
.home {
  color: white;
}
.bookmark {
  color: white;
}
.paper {
  color: white;
}
.person {
  color: white;
}
.navigation__item:hover,
.card__bookmark:hover {
  color: white;
}
.image {
  display: flex;
  justify-content: center;
}
.name {
  color: blueviolet;
  font-size: 20px;
  justify-items: stretch;
}
nav{
  bottom: 0px;
}
